@using BookTalk.Shared.Aladin
@using BookTalk.Client.Controllers

@model BookListQuery?

<div class="form-container custom-base-container">
    @if (Model != null)
    {
        @using (Html.BeginForm(nameof(BookController.SearchList), nameof(BookController).Replace("Controller", ""), FormMethod.Get, new { @class = "form-container custom-base-container px-4 py-3" }))
        {
            <div class="row">
                <div class="container custom-container">
                    <div class="row">
                        <!-- 검색 관련 컨트롤 -->
                        <div class="col-md-12">
                            <div class="d-flex justify-content-center">
                                @Html.TextBoxFor(m => m.Keyword, new { @class = "form-control input-text-search", @id = "txtSearch", @placeholder = "도서 검색" })
                                <button type="submit" class="btn btn-primary btn-search">검색</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="container custom-container">
                <div class="row">
                    <div class="tab-content" id="bookTabContent">
                        <div class="tab-pane fade show active" id="new-books" role="tabpanel" aria-labelledby="new-books-tab">
                            <div class="row">
                                <!-- 결과 리스트 조회 -->
                                @foreach (var book in Model.Item)
                                {
                                    <div class="col-md-4">
                                        <div class="card book-card" onclick="redirectDetail('@book.Isbn13', '@book.Isbn')">
                                            <img src="@book.Cover" class="book-card-img-top" alt="book cover">
                                            <div class="book-card-title-container">
                                                <h5 class="book-card-title">@book.Title</h5>
                                            </div>
                                            <div class="book-card-text-container">
                                                <p><div class="book-card-text text-truncate">@book.Author</div></p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <nav aria-label="Page navigation example">
                <ul id="pagination-container" class="pagination">
                    <!-- Page - 2 ~ Page + 2 -->
                    @for (int i = Model.Page - 2; i < Model.Page + 3; i++)
                    {
                        if (i >= Model.MinPage && i <= Model.MaxPage)
                        {
                            if (i == Model.Page)
                            {
                                <li class="page-item">
                                    <a class="page-link"
                                       asp-controller="@nameof(BookController).Replace("Controller", "")"
                                       asp-action="@nameof(BookController.SearchList)"
                                       asp-route-keyword="@Model.Keyword"
                                       asp-route-page="@i"
                                       data-page="@i"
                                       style="color:black; background-color:transparent; pointer-events:none;">@i</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link"
                                       asp-controller="@nameof(BookController).Replace("Controller", "")"
                                       asp-action="@nameof(BookController.SearchList)"
                                       asp-route-keyword="@Model.Keyword"
                                       asp-route-page="@i"
                                       data-page="@i">@i</a>
                                </li>
                            }
                        }
                    }
                </ul>
            </nav>
        </div>
    }
</div>



<script>
    window.onload = function () {
        OnLoadView();
    }

    function OnLoadView() {
        var errorMessage = "@Html.Raw(ViewBag.ErrorMessage)";
        if (errorMessage) {
            alert(errorMessage);
        }
    }



    function redirectDetail(isbn13, isbn10) {
        let type = "";
        let isbn = "";

        // isbn13 우선으로 조회하는데, isbn10이랑 isbn13 중 하나만 있는 경우가 있어서 검사
        if (isbn13) {
            type = "ISBN";
            isbn = isbn13;
        }
        else if (isbn10) {
            type = "ISBN13";
            isbn = isbn10;
        }
        window.location.href = `/Book/Read?type=${type}&isbn=${isbn}`;
    }
</script>
