@using BookTalk.Shared.Aladin

@model IEnumerable<BookListQuery>

@{
    ViewData["Title"] = "Home";
}

<div class="form-container custom-base-container">
    <div class="row">
        <div class="container custom-container">
            <div class="row">
                <ul class="nav nav-tabs" id="user-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="new-books-tab" data-toggle="tab" href="#new-books" role="tab" aria-controls="new-books" aria-selected="true">신간 도서</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="bestsellers-tab" data-toggle="tab" href="#bestsellers" role="tab" aria-controls="bestsellers" aria-selected="false">베스트셀러</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        @if (Model != null)
        {
            <div class="container custom-container">
                <div class="row">
                    <div class="tab-content" id="bookTabContent">

                        <div class="tab-pane fade show active" id="new-books" role="tabpanel" aria-labelledby="new-books-tab">
                            <!-- 신간 도서 -->
                            <div class="row">
                                @foreach (var book in Model.ElementAt(0).Item)
                                {
                                    <div class="col-md-4">
                                        <div class="card book-card">
                                            <img src="@book.Cover" class="book-card-img-top" alt="book cover">
                                            <div class="book-card-title-container">
                                                <h5 class="book-card-title">@book.Title</h5>
                                            </div>
                                            <div class="book-card-text-container">
                                                <p><div class="book-card-text text-truncate">@book.Author</div></p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="tab-pane fade" id="bestsellers" role="tabpanel" aria-labelledby="bestsellers-tab">
                            <!-- 베스트셀러 -->
                            <div class="row">
                                @foreach (var book in Model.ElementAt(1).Item)
                                {<div class="col-md-4">
                                        <div class="card book-card">
                                            <img src="@book.Cover" class="book-card-img-top" alt="book cover">
                                            <div class="book-card-title-container">
                                                <h5 class="book-card-title">@book.Title</h5>
                                            </div>
                                            <p><div class="book-card-text text-truncate">@book.Author</div></p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    window.onload = function () {
        OnLoadView();
    }

    function OnLoadView() {
        let errorMessage = "@Html.Raw(ViewBag.ErrorMessage)";
        if (errorMessage) {
            alert(errorMessage);
        }
    }
</script>
