@using BookTalk.Shared.Common
@using BookTalk.Shared.Aladin

@model ResponseMessage<IEnumerable<AladinBookQuery>>

@{
    ViewData["Title"] = "Home Page";
}

<div class="form-container custom-base-container">
    <div class="row">
        <div class="container custom-container">
            <div class="row">
                <ul class="nav nav-tabs" id="bookTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="new-books-tab" data-toggle="tab" href="#new-books" role="tab" aria-controls="new-books" aria-selected="true">신간 도서</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="bestsellers-tab" data-toggle="tab" href="#bestsellers" role="tab" aria-controls="bestsellers" aria-selected="false">베스트셀러</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr />        
    </div>

    <div class="row">
        @if (Model.Data != null)
        {
            <div class="container custom-container">
                <div class="row">
                    <div class="tab-content" id="bookTabContent">

                        <div class="tab-pane fade show active" id="new-books" role="tabpanel" aria-labelledby="new-books-tab">
                            <!-- 신간 도서 -->
                            <div class="row">
                                @foreach (var book in Model.Data.ElementAt(0).Item)
                                {
                                    <div class="col-md-4">
                                        <div class="card book-card">
                                            <img src="@book.Cover" class="book-card-img-top" alt="book cover">
                                            <div class="book-card-title-container">
                                                <h5 class="book-card-title">@book.Title</h5>
                                            </div>
                                            <div class="book-card-text-container">
                                                <p><div class="book-card-text text-truncate">@book.Author</div></p>
                                                <p><div class="book-card-text text-truncate">@book.CategoryName</div></p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="tab-pane fade" id="bestsellers" role="tabpanel" aria-labelledby="bestsellers-tab">
                            <!-- 베스트셀러 -->
                            <div class="row">
                                @foreach (var book in Model.Data.ElementAt(1).Item)
                                {<div class="col-md-4">
                                        <div class="card book-card">
                                            <img src="@book.Cover" class="book-card-img-top" alt="book cover">
                                            <div class="book-card-title-container">
                                                <h5 class="book-card-title">@book.Title</h5>
                                            </div>
                                            <div class="book-card-text-container">
                                                <p><div class="book-card-text text-truncate">@book.CategoryName</div></p>
                                            </div>
                                            <p><div class="book-card-text text-truncate">@book.Author</div></p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    window.onload = function () {
        OnLoadView();
    }

    function OnLoadView() {
        var sErrorMessage = "@Html.Raw(Model.ErrorMessage)"

        if (sErrorMessage) {
            alert(sErrorMessage);
        }
    }
</script>



@*<form class="px-4 py-3">
        <div class="form-group">
            <label for="exampleDropdownFormEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
        </div>
        <div class="form-group">
            <label for="exampleDropdownFormPassword1">Password</label>
            <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                <label class="form-check-label" for="dropdownCheck">
                    Remember me
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">New around here? Sign up</a>
    <a class="dropdown-item" href="#">Forgot password?</a>*@