@using BookTalk.Shared.Models
@model BookTalk.Shared.Common.ResponseMessage<IEnumerable<Menu>>

@if (Model.Data != null)
{
    var groupedMenu = Model.Data.GroupBy(m => m.ParentMenuId);

    foreach (var parentMenu in Model.Data.Where(m => m.Level == 0).OrderBy(m => m.Id))
    {
        var targetId = $"collapseLayouts{parentMenu.Id}";

        <!-- 상위 메뉴 -->
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#@targetId" aria-expanded="false" aria-controls="@targetId">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            @parentMenu.MenuName
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>

        <div class="collapse" id="@targetId" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <!-- 상위 메뉴에 대한 하위 메뉴 순회 -->
                @foreach (var childMenu in groupedMenu.FirstOrDefault(g => g.Key == parentMenu.Id))
                {
                    <a class="nav-link" asp-area="" asp-controller="@childMenu.ControllerName" asp-action="@childMenu.ActionName">@childMenu.MenuName</a>
                }
            </nav>
        </div>
    }
}
else
{
<script>
        // _Layout.cshtml에서 호출하는 ViewComponent는 onload 이벤트를 갖지 않아 여기서 동작하도록 구현한다.
        function CheckError() {
            var errorMessage = "@Html.Raw(ViewBag.ErrorMessage)";
            if (errorMessage) {
                alert(errorMessage);
            }
        }

        CheckError()
</script>
}

